<!DOCTYPE html>
<html>
    <head>
        <title>Contacts</title>
     <link rel="stylesheet" type="text/css" href="../../styles.css" />
    </head>
    <body>
        <h3>New Contact</h3>

        <form action="/contacts" method="POST"><!--the posted data is sent to the /contacts page-->

            <p>
            <label>First Name</label>
            <input type="text" id="first" name="first" value="" />
            </p>
            
              <p>
            <label>Last Name</label>
            <input type="text" id="last" name="last" value="" />
            </p>

            <p>
            <label>Business</label>
            <input type="text" id="business" name="business" value="" />
            </p>

            <p>
            <label>Phone</label>
            <input type="text" id="phone" name="phone" value="" />
            </p>
            
            <p>
            <label>Email</label>
            <input type="text" id="email" name="email" value="" />
            </p>

            <p>
            <label>Address</label>
            <input type="text" id="address" name="address" value="" />
            </p>
            
            <p>
            <label>City</label>
            <input type="text" id="city" name="city" value="" />
            </p>
            
            <p>
            <label>State</label>
            <input type="text" id="state" name="state" value="" />
            </p>
            
            <p>
            <label>ZIP</label>
            <input type="text" id="zip" name="zip" value="" />
            </p>
            
            <p>
            <label>Notes</label>
            <input type="text" id="notes" name="notes" value="" />
            </p>
            
            <button>Create</button>

        </form>

    </body>
</html>
