<!DOCTYPE html>
<html>
    <head>
        <title>Contacts</title>
    </head>
    <body>
        <h3>Contacts</h3>
        <% if (contacts.length) { %>
        <ul>
            <% for (var i in contacts) { %>
            <li><a href="/contacts/<%= contacts[i].name %>"><%= contacts[i].name %></br><%= contacts[i].business %></a></li>
            <% } %>
        </ul>
        <% } else { %>
        <p>Your black book is currently empty</p>
        <% } %>

        <p><a href="/contact/new">Add Contact</a></p>
    </body>
</html>
