
.butterfly {
    height:100px;
}

.title {
    font-family:Trebuchet MS;
    font-weight:900;
    text-align:center;
}

.msg{
    font-famly:Helvetica;
    font-weight:300;
}

dt a {
    text-decoration:none;
    color:black;
    font-family:Trebuchet MS;
}

#empty{
    margin-bottom:5%;
}

.accordion, #empty {
    border-bottom:1px dotted black;
}

.contact-box{
    padding-bottom:5px;
}

.edit {
    color:black;
    float:right; 
}

.bottom-right-save {
    float:right;
    border:none;
}

.contact-company{
    color:gray;
    font-size:0.9em;
}

.expanded-info{
    font-weight:300;
    border-bottom:1px dotted black;
}

.save {
    float:right;
    margin-bottom:5px;
    border:none;
}

.delete{
    float:right;
}

.fa-trash {
    color:black;
}

#about{
    margin-top:20%;
    font-size:0.9em;
    font-weight:300;
}

#about-content{
    display:none;
}
