
.butterfly {
    height:100px;
}

.title {
    font-family:Euphemia UCAS;
    font-weight:900;
    text-align:center;
}

.msg{
    font-famly:Helvetica;
}

a {
    text-decoration:none;
    color:black;
}

.accordion {
    border-bottom:1px dotted black;
}

.contact-box{
    padding-bottom:5px;
}

.edit {
    color:black;
    float:right; 
}

.contact-company{
    color:gray;
    font-size:0.9em;
}

.expanded-info{
    font-weight:300;
    border-bottom:1px dotted black;
}
