
.butterfly {
    height:100px;
}

.title {
    margin-left:40%;
    font-family:Euphemia UCAS;
    font-weight:900,
}

.msg{
    font-famly:Bangla MN;
}

a {
    text-decoration:none;
    color:black;
}

.contact-box{
    border-bottom:1px dotted black;
    padding-bottom:5px;
}

.contact-name{
    color:black;
    float:right; 
}

.contact-company{
    color:gray;
    font-size:0.8em;
}

.expanded-info{
    font-weight:300;
}
